#문제-1
다음 표를 데이터 프레임으로 표현하세요.

| 이름 | 나이 | 직책 | 
| -- | -- | -- |
| 유종훈 | 20 | 연구원|
| 유서하 | 24 | 대리 |
| 조아름 | 28 | 과장 |

In [ ]:
from pandas import DataFrame
data = [['유종훈', 20, '연구원'], ['유서하',24,'대리'],['조아름',28,'과장']]
df = DataFrame(data, columns = ['이름', '나이', '직책'])
df

    이름  나이   직책
0  유종훈  20  연구원
1  유서하  24   대리
2  조아름  28   과장

# 문제-2
문제-1의 데이터프레임에서 `유종훈`과 `조아름의 데이터를 출력하세요.

In [ ]:
# 방법1
cond1 = (df['이름'] == '유종훈')
cond2 = (df['이름'] == '조아름')
df[cond1 | cond2]

    이름  나이   직책
0  유종훈  20  연구원
2  조아름  28   과장

In [ ]:
# 방법2
cond1 = df['이름'].str.contains('유종훈')
cond2 = df['이름'].str.contains('조아름')
df[cond1 | cond2]

    이름  나이   직책
0  유종훈  20  연구원
2  조아름  28   과장

In [ ]:
## iloc과 loc 차이
df.iloc[0:2] # 리스트처럼 0포함 2노포함

    이름  나이   직책
0  유종훈  20  연구원
1  유서하  24   대리

In [ ]:
df.loc[0:2] # 0포함 2포함

    이름  나이   직책
0  유종훈  20  연구원
1  유서하  24   대리
2  조아름  28   과장

# 문제-3
다음의 데이터프레임에서 데이터 타입을 변경하세요.
- `현재가` 컬럼은 `int64`로 `등락률` 컬럼은 `float64`로 변경

In [ ]:
from pandas import DataFrame

data = [
    ["037730", "3R", "1,510", "7.36"],
    ["036360", "3SOFT", "1,790", "1.65"],
    ["005760", "ACTS", "1,185", "1.28"],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = DataFrame(data=data, columns=columns)
df

     종목코드    종목명    현재가   등락률
0  037730     3R  1,510  7.36
1  036360  3SOFT  1,790  1.65
2  005760   ACTS  1,185  1.28

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    3 non-null      object
 1   종목명     3 non-null      object
 2   현재가     3 non-null      object
 3   등락률     3 non-null      object
dtypes: object(4)
memory usage: 224.0+ bytes

In [ ]:
df['현재가'] = df['현재가'].str.replace(',','') # 문자열 replace
df
# 다른 방법들
# 1) Series의 replace : df['현재가'].replace(",", "", regex=True)
# 2) map 함수 사용 : 
# def f(x):
#     return x.replace(".". "")
# df['현재가'].map(f)

In [ ]:
how = {   
    "현재가"  : 'int64',
    "등락률" : 'float64'
}

df = df.astype(how)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    3 non-null      object
 1   종목명     3 non-null      object
 2   현재가     3 non-null      int64
 3   등락률     3 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 224.0+ bytes

# 문제-4
다음 데이터 프레임에서 연도별로 `종가`의 평균을 출력하라.

In [ ]:
!pip install pykrx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pykrx
  Downloading pykrx-1.0.33-py3-none-any.whl (93 kB)
     |████████████████████████████████| 93 kB 1.6 MB/s
Collecting datetime
  Downloading DateTime-4.4-py2.py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 558 kB/s
Collecting deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pykrx) (2.23.0)
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (from pykrx) (1.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pykrx) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pykrx) (1.21.6)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime->pykrx) (2022.1)
Collecting zope.interface
  Downloading zope.interface-5.4.0-cp37-cp37m-manylinux2010_x86_64.whl (251 kB)
     |████████████████████████████████| 251 kB 62.3 MB/s
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated->pykrx) (1.14.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pykrx) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pykrx) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (2022.5.18.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (3.0.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime->pykrx) (57.4.0)
Installing collected packages: zope.interface, deprecated, datetime, pykrx
Successfully installed datetime-4.4 deprecated-1.2.13 pykrx-1.0.33 zope.interface-5.4.0

In [ ]:
from pykrx import stock
df = stock.get_market_ohlcv("20190101", "20220528", "005930")
df.head()

               시가     고가     저가     종가       거래량
날짜
2019-01-02  39400  39400  38550  38750   7847664
2019-01-03  38300  38550  37450  37600  12471493
2019-01-04  37450  37600  36850  37450  14108958
2019-01-07  38000  38900  37800  38750  12748997
2019-01-08  38000  39200  37950  38100  12756554

In [ ]:
df['연도'] = df.index.year
df.groupby('연도')['종가'].mean()

연도
2019    46583.333333
2020    57153.225806
2021    79155.645161
2022    70908.080808
Name: 종가, dtype: float64

In [ ]:
# agg 써보기
df.groupby('연도').agg(mean = ('종가','mean'))

              mean
연도
2019  46583.333333
2020  57153.225806
2021  79155.645161
2022  70908.080808

In [ ]:
# agg에 딕셔너리 넣어서 써보기
how = {
    '종가': np.mean
}
df.groupby('연도').agg(how)

                종가
연도
2019  46583.333333
2020  57153.225806
2021  79155.645161
2022  70908.080808

# 문제-5
문제-4의 데이터프레임을 연도별, 월별로 종가의 평균과 거래량의 합을 출력하라. 
- 출력되는 데이터프레임에는 두 개의 컬럼(`평균`, `거래량`)이 있어야 합니다.

In [ ]:
df.index.month

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
           dtype='int64', name='날짜', length=841)

In [ ]:
df.index.year

Int64Index([2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019,
            ...
            2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022],
           dtype='int64', name='날짜', length=841)

In [ ]:
import numpy as np
df['월'] = df.index.month
df.groupby(['연도','월']).agg(평균=('종가','mean'),거래량=('종가','sum'))

                   평균      거래량
연도   월
2019 1   41600.000000   915200
     2   46308.823529   787250
     3   44560.000000   891200
     4   46061.363636  1013350
     5   43023.809524   903500
     6   44865.789474   852450
     7   46215.217391  1062950
     8   43840.476190   920650
     9   47294.736842   898600
     10  49880.952381  1047500
     11  52223.809524  1096700
     12  53507.500000  1070150
2020 1   58815.000000  1176300
     2   59085.000000  1181700
     3   50168.181818  1103700
     4   49045.000000   980900
     5   49100.000000   932900
     6   52986.363636  1165700
     7   54726.086957  1258700
     8   56980.000000  1139600
     9   58176.190476  1221700
     10  59736.842105  1135000
     11  63419.047619  1331800
     12  73619.047619  1546000
2021 1   86565.000000  1731300
     2   83127.777778  1496300
     3   82072.727273  1805600
     4   83586.363636  1838900
     5   80521.052632  1529900
     6   81104.545455  1784300
     7   79577.272727  1750700
     8   77023.809524  1617500
     9   76305.263158  1449800
     10  70563.157895  1340700
     11  71536.363636  1573800
     12  77809.090909  1711800
2022 1   76540.000000  1530800
     2   73688.888889  1326400
     3   70409.523810  1478600
     4   67395.238095  1415300
     5   66778.947368  1268800

In [ ]:
df.groupby(['연도']).agg(평균=('종가','mean'),거래량=('종가','sum'))

                평균       거래량
연도
2019  46583.333333  11459500
2020  57153.225806  14174000
2021  79155.645161  19630600
2022  70908.080808   7019900

In [ ]:
df.groupby(['월']).agg(평균=('종가','mean'),거래량=('종가','sum'))

              평균      거래량
월
1   65287.804878  5353600
2   65639.041096  4791650
3   62107.058824  5279100
4   61746.470588  5248450
5   59424.358974  4635100
6   60356.349206  3802450
7   59887.500000  4072350
8   59318.548387  3677750
9   60510.169492  3570100
10  59715.254237  3523200
11  62535.937500  4002300
12  68697.619048  4327950