## 지하철호선별 승하차 인원
data 폴더에는 `서울시 지하철호선별 역별 승하차 인원 정보.csv` 파일이 있습니다. `read_csv` 메서드를 사용하면 데이터프레임으로 값을 읽어올 수 있습니다.

In [ ]:
import pandas as pd

df = pd.read_csv(r"https://drive.google.com/u/3/uc?id=1wNWaq71HBSoGWqt-e-4mJKMLGSg_fV5n&export=download", encoding='cp949')
print(df.head())

       사용일자  호선명  역명  승차총승객수  하차총승객수      등록일자
0  20200611  중앙선  지평      71      49  20200614
1  20200611  중앙선  용문    1796    1841  20200614
2  20200611  중앙선  원덕     307     298  20200614
3  20200611  중앙선  양평    2475    2462  20200614
4  20200611  중앙선  오빈     293     281  20200614

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23052 entries, 0 to 23051
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    23052 non-null  int64
 1   호선명     23052 non-null  object
 2   역명      23052 non-null  object
 3   승차총승객수  23052 non-null  int64
 4   하차총승객수  23052 non-null  int64
 5   등록일자    23052 non-null  int64
dtypes: int64(4), object(2)
memory usage: 1.1+ MB

In [ ]:
# 컬럼명 바꾸기  tip
# df.columns = df.columns.str[0:2]

Q. 데이터 파일에 몇개의 "호선명"이 존재하는가?
- set
- groupby/size

In [ ]:
len(set(df['호선명'].values))

25

In [ ]:
len(df['호선명'].unique())

25

Q. 승차총승객수와 하차총승객수는 몇명인가?

In [ ]:
df['승차총승객수'].sum()

218862185

Q. 승차총승객수가 가장 많은 "호선명"은 어디인가?

In [ ]:
df.groupby('호선명').agg(총승차=('승차총승객수','sum')).sort_values('총승차', ascending=False).head(5)
df.groupby('호선명').agg(총승차=('승차총승객수','sum')).idxmax()

총승차    2호선
dtype: object

Q. 승차총승객수가 가장 많은 역은 어디인가?

In [ ]:
df.groupby('역명').agg(총승차=('승차총승객수','sum')).sort_values('총승차', ascending=False)
df.groupby('역명').agg(총승차=('승차총승객수','sum')).idxmax()

총승차    강남
dtype: object

Q. 승차총승객수와 하차총승객수의 합이 가장 많은 역과 가장 적은 역의 차이는?

In [ ]:
df['총승객수'] = df['승차총승객수'] + df['하차총승객수']
df.groupby('역명').agg(총승객수 = ('총승객수','sum')).sort_values('총승객수', ascending = False)

             총승객수
역명
강남        5729965
잠실(송파구청)  5410693
고속터미널     4841099
서울역       4598503
선릉        4480011
...           ...
굴봉산         14518
백양리          8691
달월           4591
지평           3994
임진강          2256

[510 rows x 1 columns]

In [ ]:
a= df.groupby('역명').agg(총승객수 = ('총승객수','sum')).sort_values('총승객수', ascending = False).iloc[0]
b= df.groupby('역명').agg(총승객수 = ('총승객수','sum')).sort_values('총승객수', ascending = False).iloc[-1]
a-b

총승객수    5727709
dtype: int64

In [ ]:
a= df.groupby('역명').agg(총승객수 = ('총승객수','sum')).max()
b= df.groupby('역명').agg(총승객수 = ('총승객수','sum')).min()
a-b

총승객수    5727709
dtype: int64

Q. 승차총승객수와 하차총승객수의 합이 가장 많은 호선은?

In [ ]:
df.groupby('호선명').agg(호선별총승객수 = ('총승객수','sum')).sort_values('호선별총승객수', ascending = False)
df.groupby('호선명').agg(호선별총승객수 = ('총승객수','sum')).idxmax()

호선별총승객수    2호선
dtype: object

Q. 월별 사용자를 집계해 봅시다.<br>
Q. 일자별 승차수 시각화<br>
Q. 주말,평일 구분

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23052 entries, 0 to 23051
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    23052 non-null  int64
 1   호선명     23052 non-null  object
 2   역명      23052 non-null  object
 3   승차총승객수  23052 non-null  int64
 4   하차총승객수  23052 non-null  int64
 5   등록일자    23052 non-null  int64
 6   총승객수    23052 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1.2+ MB

In [ ]:
df.head()

       사용일자  호선명  역명  승차총승객수  하차총승객수      등록일자
0  20200611  중앙선  지평      71      49  20200614
1  20200611  중앙선  용문    1796    1841  20200614
2  20200611  중앙선  원덕     307     298  20200614
3  20200611  중앙선  양평    2475    2462  20200614
4  20200611  중앙선  오빈     293     281  20200614

In [ ]:
df['일자'] = pd.to_datetime(df['사용일자'].astype(str))
df.head()

       사용일자  호선명  역명  승차총승객수  하차총승객수      등록일자         일자
0  20200611  중앙선  지평      71      49  20200614 2020-06-11
1  20200611  중앙선  용문    1796    1841  20200614 2020-06-11
2  20200611  중앙선  원덕     307     298  20200614 2020-06-11
3  20200611  중앙선  양평    2475    2462  20200614 2020-06-11
4  20200611  중앙선  오빈     293     281  20200614 2020-06-11

In [ ]:
# 요일 추가 (0:월 ~ 6:일)
df['요일'] = df['일자'].dt.weekday
df.head(2)

       사용일자  호선명  역명  승차총승객수  하차총승객수      등록일자         일자  요일
0  20200611  중앙선  지평      71      49  20200614 2020-06-11   3
1  20200611  중앙선  용문    1796    1841  20200614 2020-06-11   3

In [ ]:
df['평일주말'] = pd.cut(df['요일'], [0,5,6], labels=['평일','주말'])
df.head(2)

       사용일자  호선명  역명  승차총승객수  하차총승객수      등록일자         일자  요일 평일주말
0  20200611  중앙선  지평      71      49  20200614 2020-06-11   3   평일
1  20200611  중앙선  용문    1796    1841  20200614 2020-06-11   3   평일

In [ ]:
df.groupby('평일주말').agg(승차수평균=('승차총승객수','mean'))

             승차수평균
평일주말
평일    10061.632399
주말     5109.408398